<% if logged_in? %>
  <div id='projects'>
    <%= render @projects %>
  </div>
  <div class='center'>
    <%= link_to nil, id: 'new-project-toggler', class: 'btn btn-danger' do %>
      <%= icon_label 'icon-plus', t('projects.add_new') %>
    <% end %>
  </div>

  <div id='new-project' class='well span6'>
    <%= form_with(model: @project, id: 'new-project', class: 'form-horizontal')  do |form| %>
      <%= form.label :title, t('projects.name') %>
      <%= form.text_field :title, class: 'new_project_title'%>

      <%= form.submit t('common.submit'), class: 'btn btn-success new_project_btn', disabled: true, data: { disable_with: t('common.please_wait') }, id: 'project_title'%>
    <% end %>
  </div>
<% else %>
<div class="center jumbotron">
  <h1><%= t('home.welcome') %></h1>
  <h2>
    <%= t('home.text') %>
  </h2>
  <%= link_to t('home.sign_up'), signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: t('home.logo_title')),
            'http://rubyonrails.org/' %>
<% end %>
