<li class='task-item <%= "completed" if task.completed %>' id='task-item-<%= task.id%>'>
  <input type='checkbox' id='task-<%= task.id %>' name='task[task_ids][]' value='<%= task.id %>'/>
  <label class="toggle" for='task-<%= task.id %>'></label>
  <span class='task-name' id='task-<%= task.id %>' data-original-title="<%= t('tasks.name') %>" data-model="task" data-resource='task' data-name='name' data-url='<%= task_path(task) %>'>
    <%= task.name %>
  </span>
  <div class='pull-right task-options'>
    <%= link_to '#', class: 'edit-start-time', id: "edit-start-time-#{task.id}", title: 'Дата начала задачи',pk: task.id do %>
      <%= t('tasks.start') %>
    <% end %>
    <span class='edit-start-time' id='edit-start-time-<%= task.id %>' data-original-title="<%= t('tasks.date_start') %>" data-id="<%= task.id %>"  data-date="<%= task.end_time %>" data-model="task" data-resource='task' data-name='start_time' data-url='<%= task_path(task) %>' data-type="date">
      <%= task.start_time&.strftime('%d.%m.%Y') %>
    </span> |
    <%= link_to '#', class: 'edit-end-time', id: "edit-end-time-#{task.id}", title: 'Дата окончания задачи',pk: task.id do %>
      <%= t('tasks.end') %>
    <% end %>
    <span class='edit-end-time' id='edit-end-time-<%= task.id %>' data-original-title="<%= t('tasks.date_end') %>" data-id="<%= task.id %>" data-date="<%= task.end_time %>" data-completed="<%= task.completed %>" data-model="task" data-resource='task' data-name='end_time' data-url='<%= task_path(task) %>' data-type="date">
      <%= task.end_time&.strftime('%d.%m.%Y') %>
    </span> |
    <%= link_to complete_task_path(task), remote: true, method: 'put', class: 'complete-task', title: task.completed?? t('tasks.mark.not_completed') : t('tasks.mark.completed') do %>
      <%= icon_label task.completed?? 'icon-thumbs-down' : 'icon-thumbs-up' %>
    <% end %>
    <%= link_to '#', id: "edit-task-name-#{task.id}", class: 'edit-task-name', title: t('tasks.edit') do %>
      <%= icon_label 'icon-pencil' %>
    <% end %>
    <%= icon_label 'icon-resize-vertical task-drag-handle' %>
  </div>
</li>
