<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t('menu.text_logo'), root_path, id: "logo" %>
    <nav class="navbar-expand-lg">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t('menu.home'), root_path %></li>
        <% if logged_in? %>
          <li><%= link_to t('menu.users'), users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t('menu.account') %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t('menu.profile'), current_user %></li>
              <li><%= link_to t('menu.settings'), edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t('menu.log_out'), logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t('menu.log_in'), login_path %></li>
        <% end %>
        <div class="language">
          <% if I18n.locale == I18n.default_locale %>
            <li><%= link_to "Ru", {:locale => 'ru'}, class: 'nav-link disabled' %></li>
            <li class="divider">|</li>
            <li><%= link_to "En", {:locale => 'en'} %></li>
          <% else %>
            <li><%= link_to "Ru", {:locale => 'ru'} %></li>
            <li class="divider">|</li>
            <li><%= link_to "En", {:locale => 'en'}, class: 'nav-link disabled' %></li>
          <% end %>
        </div>
      </ul>

    </nav>


  </div>
</header>